---
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 • David Hell" description="Page not found">
  <div class="relative m-auto w-full max-w-[28rem] p-8 px-4 sm:px-8">
    <h1 class="text-8xl font-bold text-slate-200">404</h1>

    <p class="mb-8 mt-2">There's nothing here.</p>

    <Link href="/">Back home</Link>

    <!-- lines -->
    <div class="pointer-events-none absolute inset-0 text-slate-300 opacity-20">
      <div class="absolute left-0 right-1/2 top-0 h-px bg-current">
        <!-- top -->
        <div
          class="absolute inset-y-0 right-full w-[30vw] bg-gradient-to-r from-transparent to-current"
        >
          <!-- left -->
        </div>
        <div
          class="absolute inset-y-0 left-full w-[30vw] bg-gradient-to-r from-current to-transparent"
        >
          <!-- right -->
        </div>
      </div>
      <div class="absolute bottom-0 left-[20%] right-0 h-px bg-current">
        <!-- bottom -->
        <div
          class="absolute inset-y-0 right-full w-[30vw] bg-gradient-to-r from-transparent to-current"
        >
          <!-- left -->
        </div>
        <div
          class="absolute inset-y-0 left-full w-[25vw] bg-gradient-to-r from-current to-transparent"
        >
          <!-- right -->
        </div>
      </div>
      <div class="absolute -bottom-[5%] left-0 top-0 w-px bg-current">
        <!-- left -->
        <div
          class="absolute inset-x-0 bottom-full h-[25vh] bg-gradient-to-b from-transparent to-current"
        >
          <!-- top -->
        </div>
        <div
          class="absolute inset-x-0 top-full h-[25vh] bg-gradient-to-b from-current to-transparent"
        >
          <!-- bottom -->
        </div>
      </div>
    </div>
  </div>
</Layout>
