---
import { Icon } from "astro-icon/components";
import Link from "../components/Link.astro";
import { obfuscate } from "../utils/email.ts";

import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

import "@fontsource/ubuntu";
import "../styles/global.css";
---

<!doctype html>
<html
  lang="en"
  class="h-full overflow-x-clip overscroll-y-auto bg-slate-900 leading-relaxed text-slate-400 antialiased [color-scheme:dark] selection:bg-amber-300 selection:text-slate-900 contrast-more:text-slate-300"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="theme-color" content="#0f172a" /><!--slate 900 -->
  </head>
  <body
    class="flex min-h-full w-full animate-[appear_2s] flex-col ease-in-out motion-reduce:animate-none"
  >
    <main class="flex h-full w-full flex-auto flex-col overflow-clip px-2 py-6">
      <slot />

      <footer class="mx-auto mt-6 w-full max-w-[28rem] px-8">
        <nav>
          <ul class="flex flex-wrap items-center gap-4 gap-x-8 pl-px">
            <li>
              <Link
                target="_blank"
                href="https://github.com/whytspace"
                class="flex items-center"
              >
                <Icon name="mdi:github" class="mr-2 h-5 w-5" />
                <span class="sr-only">Find me on</span>
                Github
              </Link>
            </li>
            <li>
              <Link
                target="_blank"
                class="flex items-center"
                {...obfuscate("hello@davidhell.com")}
              >
                <Icon name="mdi:email-outline" class="mr-2 h-5 w-5" />
                <span class="sr-only">Contact me via</span>
                Email
              </Link>
            </li>
          </ul>
        </nav>
      </footer>
    </main>

    <div id="ghost-cursor" class="ghost ghost-cursor !opacity-0"></div>
    <div id="ghost-auto" class="ghost ghost-auto"></div>

    <Analytics />
    <SpeedInsights />
  </body>
</html>

<style>
  @reference "../styles/global.css";

  .ghost {
    @apply fixed inset-0 -z-10 m-auto h-1/2 w-1/2;
    @apply blur-[100px]; /* disable this for debugging */
    opacity: 0.1;
    background-image: conic-gradient(
      var(--color-slate-300) 0deg,
      --alpha(var(--color-slate-300) / 87%) 177.5deg,
      --alpha(var(--color-slate-300) / 30%) 360deg
    );
    transition:
      opacity 2s ease-in-out,
      translate 0.2s ease-out;
    will-change: opacity, translate, rotate, offset-path, offset-distance;
  }

  @media (prefers-reduced-motion: no-preference) {
    /*
    stack a bunch of aniamtions
    1. rotate very slowly
    2. fade in and out
    3. move around
    */
    .ghost-auto {
      /* offset-path: circle(20% at 50%); */
      offset-path: ellipse(20% 15% at 50% 30%);
      offset-distance: 46%;
      offset-rotate: 10deg;
      animation:
        rotate 29s linear infinite,
        move 200s linear infinite;
    }

    /* the cursor ghost follows the cursor around */
    .ghost-cursor {
      animation: rotate 29s linear infinite;
      translate: calc((var(--x, 0.5) - 0.5) * 100%)
        calc((var(--y, 0.5) - 0.5) * 100%);
    }
  }

  @keyframes rotate {
    from {
      rotate: 0deg;
    }
    to {
      rotate: 360deg;
    }
  }
  @keyframes move {
    0% {
      offset-distance: 0%;
    }
    100% {
      offset-distance: 100%;
    }
  }

  @keyframes appear {
    0% {
      /*
       * google lighthouse will crash (NO_LCP) if content is completely hidden
       * @link https://github.com/GoogleChrome/lighthouse/issues/10869#issuecomment-1345613952
       */
      opacity: 0.01;
    }
    100% {
      opacity: 1;
    }
  }
</style>

<script>
  const html = document.documentElement;
  const ghostCursor = document.getElementById("ghost-cursor");
  const ghostAuto = document.getElementById("ghost-auto");
  const hiddenClass = "!opacity-0";

  const pos = { x: 0, y: 0 };
  const round = (n: number, precision = 2) =>
    Math.round(n * Math.pow(10, precision)) / Math.pow(10, precision);

  let rafRequested = false;

  const getRelativePosition = (x: number, y: number) => {
    const posX = round(x / window.innerWidth);
    const posY = round(y / window.innerHeight);
    return { x: posX, y: posY };
  };

  const update = () => {
    html.style.setProperty("--x", String(pos.x));
    html.style.setProperty("--y", String(pos.y));
    rafRequested = false;
  };

  let timeout: number;

  document.addEventListener("pointermove", (e) => {
    clearTimeout(timeout);
    const { x, y } = getRelativePosition(e.clientX, e.clientY);
    if (pos.x === x && pos.y === y) return;
    pos.x = x;
    pos.y = y;
    if (!rafRequested) {
      rafRequested = true;
      window.requestAnimationFrame(update);
    }

    // make sure the ghost cursor is visible and the auto cursor is hidden
    ghostCursor?.classList.remove(hiddenClass);
    ghostAuto?.classList.add(hiddenClass);

    // after two seconds of inactivity, switch back to the auto cursor
    timeout = window.setTimeout(() => {
      ghostCursor?.classList.add(hiddenClass);
      ghostAuto?.classList.remove(hiddenClass);
    }, 2000);
  });
</script>

<script>
  import { deobfuscate } from "../utils/email";

  document.querySelectorAll("[data-eml]").forEach((el) => deobfuscate(el));
</script>
